.featured-posts {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr;
  gap: 23px 21px;

  width: 88%;
  margin: 3.56em auto 7em;

  @media screen and (max-width: 900px) {
    column-gap: 18px;
  }

  @media screen and (max-width: 750px) {
    grid-template-columns: 1fr;
    width: 100%;
    margin: 1em auto;
  }
}
