.featured-posts {
  margin: 3em auto 15%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 23px 21px;
  grid-auto-flow: row;
  width: 83.3%;

  @media screen and (max-width: 900px) {
    width: 95%;
    column-gap: 18px;
  }
  @media screen and (max-width: 750px) {
    grid-template-columns: 1fr;
    width: 70%;
  }
  @media screen and (max-width: 500px) {
    width: 88%;
  }
}
