.post-header {
  display: flex;
  flex-direction: column;
  gap: 33px;
  width: 83.3%;
  margin: 0 auto;
}

.post-title {
  margin-bottom: 2em;
  font-weight: 300;
  font-size: 4.375em;
}

.header-wrapper-top {
  margin: 0 7.14%;
}

.image-container {
  position: relative;
  height: 34.7vw;
  max-height: 490px;
  width: 100%;
  border-radius: 19.41px;
  overflow: hidden;
}

@media screen and (max-width: 1000px) {
  .post-title {
    margin-bottom: 1em;
  }

  .image-container {
    border-radius: 5.2px;
  }
}

@media screen and (max-width: 750px) {
  .post-title {
    font-size: 3em;
    margin-bottom: 0.7em;
    letter-spacing: -0.03em;
    line-height: 1.167;
  }
}

@media screen and (max-width: 500px) {
  .post-header {
    gap: 43px;
    width: min(100%, 400px);
  }

  .header-wrapper-top {
    margin: 0;
  }

  .post-title {
    font-size: 2.25em;
    margin-bottom: 0.48em;
  }

  .image-container {
    height: 41vw;
  }
}
