.post-header {
  display: flex;
  flex-direction: column;
  gap: 33px;
  width: 83.3%;
  margin: 0 auto;
}

.post-title {
  margin-bottom: 1em;
  font-weight: 300;
  font-size: 4.375em;
}

.header-wrapper-top {
  margin: 0 7.14%;
}

.image-container {
  position: relative;
  height: 34.7vw;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}

@media screen and (max-width: 750px) {
  .post-title {
    font-size: 3em;
    margin-bottom: 0.7em;
  }
}

@media screen and (max-width: 500px) {
  .post-header {
    gap: 43px;
    width: 90%;
  }

  .post-title {
    font-size: 2.25em;
    width: 95%;
    margin-bottom: 0.48em;
  }

  .image-container {
    height: 41vw;
  }
}
