.post-header {
  display: flex;
  flex-direction: column;
  gap: 33px;
  width: 83.3%;
  margin: 0 auto;
  @media screen and (max-width: 500px) {
    gap: 20px;
    width: 90%;
  }
}

.post-title {
  width: 86%;
  margin: 0 auto 1em;
  font-weight: 300;
  font-size: 4.375em;
  text-align: center;

  @media screen and (max-width: 500px) {
    font-size: 3em;
    width: 95%;
    margin-bottom: 0.4em;
  }
}

.image-container {
  position: relative;
  height: 34.7vw;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;

  @media screen and (max-width: 500px) {
    height: 41vw;
  }
}
