@import '../../styles/variables';

.post-preview {
  height: 35em;
  border-radius: 19.41px;
  overflow: hidden;
  background-color: #fff;
  color: $color-dark-gray;
  display: grid;
  grid-template-rows: 2fr 3fr;
}

.image-container {
  position: relative;
  overflow: hidden;
}

.post-text {
  padding: 1.7em 2.6em 1em 1.75em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-title {
  font-size: 1.625em;
  margin-bottom: 0.75em;
  line-height: 1.3;
}

.post-description {
  filter: opacity(0.7);
  font-size: 1.125em;
  line-height: 1.444;
  text-align: justify;
}

@media screen and (max-width: 1250px) {
  .post-preview {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 1150px) {
  .post-preview {
    font-size: 0.75em;
    grid-template-rows: 1.7fr 3.3fr;
  }
}

@media screen and (max-width: 750px) {
  .post-text {
    padding: 2.5em 2.6em 1.8em 2em;
  }

  .post-title {
    font-size: 2em;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 500px) {
  .post-preview {
    grid-template-rows: unset;
    height: 15em;
  }

  .post-text {
    padding: 1.4em 1.75em 1.75em 1.75em;
  }

  .image-container,
  .post-description {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .post-preview {
    height: 16em;
  }

  .post-text {
    padding: 1.25em 1.6em 1em;
  }

  .post-description {
    display: none;
  }
}

.top-post {
  grid-column: 1 / 2;

  @media screen and (min-width: 750px) {
    grid-column: 1 / 3;

    .post-preview {
      grid-template-rows: unset;
      grid-template-columns: 4.8fr 7.2fr;
    }

    .post-title {
      font-size: 3em;
      margin-bottom: 0.45em;
    }

    .post-description {
      font-size: 1.25em;
      line-height: 1.4;
    }

    .post-text {
      padding: 3.875em 4.2em 1.875em 4.125em;
    }
  }
}
