@import '../../styles/variables.scss';

.button {
  padding: 1.521em 2.38em;
  color: $color-dark-gray;
  border-radius: 300px;
  border: 2px solid;
  white-space: nowrap;
  font-size: 1em;
  text-align: center;

  @media screen and (max-width: 400px) {
    padding: 1em 1.5em;
  }

  &.pistachio {
    background-color: $color-pistachio;
    border-color: $color-pistachio;
  }
  &.green {
    background-color: $color-green;
    border-color: $color-green;
    color: $color-smoked-white;
  }
  &.violet {
    background-color: $color-violet;
    border-color: $color-violet;
  }
  &.white {
    background-color: $color-white;
    border-color: $color-white;
  }
  &.pink {
    background-color: $color-pink;
    border-color: $color-pink;
  }
  &.orange {
    background-color: $color-orange;
    border-color: $color-orange;
  }
  &.transparent {
    background-color: transparent;
    color: $color-smoked-white;
    border: 1px solid $color-smoked-white;
  }
  &.cta-nav {
    padding: 0.833em 2.29em;
    line-height: 1.77;
  }
  &.cta-social {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    line-height: 1;
    width: 3.6em;
    height: 3.6em;
  }
}
