@import "../../styles/variables";

.post-body {
  width: 80%;
  margin: 4.6em auto 6em;

  @media screen and (max-width: 1000px) {
    width: 83.3%;
  }
  @media screen and (max-width: 500px) {
    width: min(100%, 400px);
    margin-top: 2.69em;
    margin-bottom: 3.82em;
  }
}

.reactMarkdown {
  font-family: "Recife Text Web", sans-serif;
  font-size: 1em;
  line-height: 1.6;
  letter-spacing: -0.02em;

  * {
    max-width: 100%;
  }

  @media screen and (min-width: 750px) {
    font-size: 1.25em;
    line-height: 1.75;
  }

  @mixin block-width {
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 750px) {
      width: 60%;
    }
  }

  @mixin text-margins {
    margin-bottom: 1.4rem;

    @media screen and (min-width: 750px) {
      margin-bottom: 1.6rem;
    }
  }

  @mixin heading($font-size-rg, $font-size-sm) {
    font-family: "Studio Feixen Sans", sans-serif;
    letter-spacing: -0.03em;
    line-height: 1.334;
    font-size: $font-size-sm;
    font-weight: 300;
    margin-top: 2rem;

    @media screen and (min-width: 750px) {
      font-size: $font-size-rg;
      margin-top: 2.85rem;
    }
  }

  > * {
    @include block-width;
  }

  h1 {
    @include heading(2.5em, 1.8em);
    @include text-margins;
  }

  h2 {
    @include heading(2em, 1.5em);
    @include text-margins;
  }

  h3 {
    @include heading(1.5em, 1.3em);
    @include text-margins;
  }

  h4 {
    @include heading(1.3em, 1.2em);
    @include text-margins;
  }

  h5 {
    @include heading(1.2em, 1.1em);
    @include text-margins;
  }

  h6 {
    @include heading(1.2em, 1em);
    @include text-margins;
  }

  p,
  ul,
  ol,
  pre,
  article,
  main,
  nav,
  section,
  blockquote,
  figcaption {
    @include text-margins;
  }

  img {
    display: block;
    margin: 2rem auto;
    width: auto;
  }

  video {
    width: auto;
  }

  iframe {
    width: auto;
  }

  a {
    color: $color-green;

    overflow-wrap: break-word;
  }

  ul {
    list-style-type: disc;
  }

  li {
    padding-left: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  li::marker {
    font-weight: 700;
  }

  blockquote {
    position: relative;
    left: 0.25rem;
    padding: 0 1rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    border-left: 4px solid rgba($color-dark-gray, 0.4);
    color: $color-dark-gray;
  }

  code {
    padding: 2px 8px;

    background-color: rgba($color-dark-gray, 0.06);
    border-radius: 5px;

    font-family: "PT Mono", monospace;
    font-size: 0.9em;
    font-weight: bold;
    letter-spacing: 0;
    overflow-wrap: break-word;
    white-space: break-spaces;
  }

  pre {
    display: block;
    padding: 20px 0;

    border-radius: 10px;

    font-size: 0.8em;

    div {
      overflow: scroll;

      overflow-wrap: unset;
      white-space: unset;
    }

    span {
      font-family: "PT Mono", monospace;
      text-shadow: none;
    }

    & > code {
      display: block;
      padding: 20px;

      background-color: $color-dark-gray;
      border-radius: 3px;
      color: $color-smoked-white;
    }

    @media screen and (max-width: 750px) {
      padding: 0 20px;
    }
  }

  table {
    display: block;
    overflow: scroll;
    border-collapse: collapse;
    margin-bottom: 2rem;

    @media screen and (min-width: 750px) {
      display: table;
      min-width: unset;
    }
  }

  th {
    border-bottom: 1px solid $color-dark-gray;
    padding: 4px;
    text-align: center;
  }

  td {
    text-align: center;
    padding: 4px 12px;
    
    @media screen and (min-width: 750px) {
      padding: 4px 8px;      
    }
  }

  tr:nth-of-type(2n) {
    background-color: rgba($color-green, 0.1);
  }
}
