.content {
  width: 83.3%;
  margin: 0 auto;
}

.wrapper-categories {
  position: absolute;
  top: 10rem;
  left: 2em;

  @media screen and (max-width: 750px) {
    position: sticky;
    margin-left: 2em;
    margin-bottom: 20px;
    display: flex;
    flex: 1;
    overflow-x: scroll;
  }
}
