@import '../../styles/variables';

.wrapper-content {
  position: relative;
}

.wrapper-categories {
  position: absolute;
  top: -6em;
  margin: 0 2em;

  @media screen and (max-width: 750px) {
    background-color: $color-smoked-white;
    padding: 1em;
    margin: 1em 0;
    position: sticky;
    bottom: 0;
    overflow-x: scroll;
  }
}
