@import "../../styles/variables";
@import "../../styles/utilities";

.footer {
  position: relative;

  z-index: 1;

  width: 100%;
  min-height: 1vh;
  padding: 6em 6em 2em;

  background-color: $color-green;
  color: $color-smoked-white;

  font-size: 1.25em;

  @media screen and (max-width: 1150px) {
    padding: 6em 4em 2em;

    font-size: 1.2em;

    .footer-wrapper-middle {
      font-size: 3em;
    }

    .circle {
      top: 55%;
    }
  }

  @media screen and (max-width: 900px) {
    font-size: 1em;

    .footer-wrapper-middle {
      font-size: 3em;
    }

    .circle {
      top: 60%;
    }
  }
  @media screen and (max-width: 750px) {
    padding: 3em 3em 1.5em;

    .footer-wrapper-top {
      flex-direction: column;
      justify-content: center;

      & > * {
        width: 100%;
      }
    }

    .footer-wrapper-middle {
      font-size: 2.2em;
    }

    .circle {
      top: 55%;
    }
  }
  @media screen and (max-width: 500px) {
    padding: 3em 1.5em 1.5em;

    .footer-wrapper-middle {
      font-size: 1.5em;
    }

    .circle {
      width: 287px;
      height: 287px;
    }
  }
  @media screen and (max-width: 287px) {
    .circle {
      width: 95vw;
      height: 95vw;
    }
  }
}

.footer-wrapper-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;

  width: 100%;
  margin-bottom: 15em;

  .footer-wrapper-top-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;

    a {
      position: relative;
      @include navlink-underline($current: false);
    }
  }

  .footer-wrapper-top-ctas {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
  }
}

.footer-wrapper-middle {
  z-index: 2;

  margin-bottom: 1em;

  font-size: 3.73em;
  font-weight: 300;
  letter-spacing: -0.03em;
  line-height: 1;
}

.footer-wrapper-bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}

.wrapper-socials {
  display: flex;
  gap: 1em;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;

  z-index: -1;

  width: 450px;
  height: 450px;
  margin: 0 auto;

  background-color: $color-violet;
  border-radius: 50%;

  transform: translateX(-50%) translateY(-60%);
}
