@mixin navlink-underline($current: false) {
  @media screen and (min-width: 750px) {
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: -2px;
      left: 0;
      background-color: currentColor;
      @if not $current {
        visibility: hidden;
        width: 0;
        transition: all 0.3s ease-in-out;
      }
    }
    @if not $current {
      &:hover:before {
        visibility: visible;
        width: 100%;
      }
    }
  }
}
