@font-face {
  font-family: 'Studio Feixen Sans';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/StudioFeixenSans-Regular.otf');
}

@font-face {
  font-family: 'Recife Text Web';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/RecifeTextWeb-Regular.ttf');
}

@font-face {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/PTMono-Regular.ttf');
}
