@import './variables.scss';

body {
  background-color: $color-smoked-white;
  color: $color-dark-gray;
  padding: 0;
  font-family: 'studiofeixen', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media screen and (max-width: 750px) {
    font-size: 0.8em;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 300;
}
