@import './variables.scss';

body {
  background-color: $color-smoked-white;
  color: $color-dark-gray;
  padding: 0;
  font-family: 'Studio Feixen Sans', sans-serif;
  font-weight: 300;
  letter-spacing: -0.02em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 300;
}
