@import "./variables.scss";

body {
  padding: 0;

  background-color: $color-smoked-white;
  color: $color-dark-gray;

  font-family: "Studio Feixen Sans", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  letter-spacing: -0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 300;
}
